body{
    background-color:#30384b;
    color:#eee;
    
}
main{
    padding-top:50px;
    max-width: 280px;
    margin:0 auto;
    text-align: center;
}
button{
    background-color: transparent;
    color:rgba(255,255,255,.8);
    border:0;
    display:inline-block;
    width:80px;
    margin-top:20px;
    cursor:pointer;
}
button.with-text{
    width:auto;
    background-color: rgba(255,255,255,0.1);
    border-radius:10px;
    padding:7px 7px;
    font-size:1.2rem;
    line-height:36px;
}
button.with-text svg{
    width:36px;
    float:left;
    margin-right: 5px;
}


.CircularProgressbar {

  width: 100%;

  vertical-align: middle;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: #3e98c7;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #d6d6d6;
  stroke-linecap: round;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: #3e98c7;
  font-size: 20px;
  dominant-baseline: middle;
  text-anchor: middle;
}

.CircularProgressbar .CircularProgressbar-background {
  fill: #d6d6d6;
}


.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-background {
  fill: #3e98c7;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-text {
  fill: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-path {
  stroke: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-trail {
  stroke: transparent;
}
